<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>User ID:</strong> {{ userId }}</p>
      <p><strong>Token:</strong> {{ token }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="danger" (click)="logout()">Cerrar sesión</ion-button>
</ion-content>
