.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1e1e1e; /* Fondo oscuro */
  color: #f0f0f0; /* Texto claro */
}

form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #2a2a2a; /* Fondo del formulario */
  border-radius: 20px;
  box-shadow: 8px 8px 15px #141414, -8px -8px 15px #3e3e3e; /* Sombras para neumorfismo */
}

input {
  background: #2a2a2a;
  color: #f0f0f0;
  border: none;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 15px;
  box-shadow: inset 5px 5px 10px #141414, inset -5px -5px 10px #3e3e3e;
  outline: none;
}

input::placeholder {
  color: #888; /* Placeholder en gris */
}

button {
  background: #2a2a2a;
  color: #fff; /* Texto blanco */
  font-weight: bold;
  padding: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #141414, -5px -5px 10px #3e3e3e;
  transition: all 0.3s ease;
}

button:hover {
  background: #3e3e3e;
  box-shadow: inset 5px 5px 10px #141414, inset -5px -5px 10px #3e3e3e;
}

.error-message {
  margin-top: 10px;
  font-size: 14px;
  color: #ff6b6b;
  text-align: center;
}

.redirect-link {
  margin-top: 20px;
  font-size: 14px;
  color: #28a745;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.redirect-link {
  margin-top: 20px;
  font-size: 14px;
  color: #fff; /* Texto blanco */
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.redirect-link:hover {
  color: #ccc; /* Color más claro al pasar el cursor */
}
