ion-content {
  --background: linear-gradient(to top, #000000, #1f1b45, #563494 ,#6a679e);
  color: #fff; /* Texto blanco */
  padding: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #181818;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #121212;
  color: #fff;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3880ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #3171e0;
}

.artist-results,
.song-results {
  padding: 10px;
}

.artist-card,
.song-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #181818;
  border-radius: 10px;
  color: #fff;
}

.artist-card img,
.song-card img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-right: 10px;
}

.artist-card h3,
.song-card h3 {
  margin: 0;
  font-size: 16px;
}

.artist-card p,
.song-card p {
  margin: 0;
  font-size: 14px;
  color: #b3b3b3;
}

.add-to-playlist-icon {
  cursor: pointer;
  svg {
    fill: gray; /* Color por defecto */
    transition: fill 0.3s ease;
  }

  &.saved svg {
    fill: rgb(136, 68, 131); /* Cambia a rojo cuando esté guardado */
  }
}