<div class="content">
  <div class="search-container">
    <input
      class="searchbar"
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      placeholder="Buscar canciones, artistas..."
      type="text"
    />

    <div *ngIf="searchResults.length > 0" class="results-list">
      <div *ngFor="let song of searchResults" (click)="goToDetail(song.id)" class="result-item">
        <div class="thumbnail">
          <img [src]="song.albumCover" alt="Portada del álbum" />
        </div>
        <div class="song-info">
          <h2>{{ song.title }}</h2>
          <p>{{ song.artist }}</p>
        </div>
      </div>
    </div>

    <p *ngIf="searchQuery && searchResults.length === 0" class="no-results">
      No se encontraron canciones.
    </p>
  </div>
</div>
