<ion-content>
  <div class="search-container">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (ionInput)="onSearch()"
      placeholder="Buscar canciones, artistas..."
    ></ion-searchbar>

    <ion-list *ngIf="searchResults.length > 0">
      <ion-item *ngFor="let song of searchResults" (click)="goToDetail(song._id)">
        <ion-thumbnail slot="start">
          <img [src]="song.albumCover" alt="Portada del álbum" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ song.title }}</h2>
          <p>{{ song.artist }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <p *ngIf="searchQuery && searchResults.length === 0" class="no-results">
      No se encontraron canciones.
    </p>
  </div>
</ion-content>
