<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="login-card">
      <h1>Bienvenido</h1>
      <p>Inicia sesión para continuar</p>
      <form (ngSubmit)="login()">
        <ion-item class="custom-item">
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="username"
            name="username"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          ></ion-input>
        </ion-item>

        <button type="submit" class="btn-login">Iniciar Sesión</button>
      </form>

      <div class="nav-link">
        <p>¿No tienes cuenta?</p>
        <button
          (click)="navigateToRegister()"
          class="custom-button"
        >
          Regístrate
        </button>
      </div>
    </div>
  </div>
</ion-content>