.content {
  padding: 16px;
}

.header {
  margin-bottom: 16px;
}

.movie-item {
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
