<ion-content *ngIf="song">
  <div class="song-detail-container">
    <img [src]="song.albumCover" alt="Portada del Álbum" class="cover-art" />
    <h1>{{ song.title }}</h1>
    <h2>{{ song.artist }}</h2>
    <p *ngIf="song.album">Álbum: {{ song.album }}</p>

    <audio controls *ngIf="song.audioUrl">
      <source [src]="song.audioUrl" type="audio/mpeg" />
      Tu navegador no soporta el elemento de audio.
    </audio>
  </div>
</ion-content>

<ion-content *ngIf="errorMessage">
  <p class="error-message">{{ errorMessage }}</p>
</ion-content>
