<ion-content [fullscreen]="true">
  <div class="content">

    <!-- Íconos superiores -->
    <div class="icon-container">
      <img src="assets/icons/search-outline.svg" (click)="navigateTo('search')" class="icon" alt="Buscar" />
      <img src="assets/icons/person-outline.svg" (click)="navigateTo('profile')" class="icon" alt="Perfil" />
    </div>

    <div class="container">

      <!-- Sección 1: Playlists destacadas -->
      <strong class="explore-title">Explorar Música</strong>
      <div class="carousel">
        <div class="carousel-inner">
          <div *ngFor="let song of exploreSongs" (click)="navigateToDetail(song.id)" class="carousel-item">
            <div class="thumbnail">
              <img [src]="song.albumCover" alt="Portada del Álbum" />
            </div>
            <div class="song-info">
              <h2><strong>{{ song.title }}</strong></h2>
              <p>{{ song.artist }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección 2: Canciones populares -->
      <strong class="explore-title">Canciones Populares</strong>
      <div class="carousel">
        <div class="carousel-inner">
          <div *ngFor="let track of popularTracks" (click)="navigateToDetail(track.id)" class="carousel-item">
            <div class="thumbnail">
              <img [src]="track.albumCover" alt="Portada del Álbum" />
            </div>
            <div class="song-info">
              <h2><strong>{{ track.title }}</strong></h2>
              <p>{{ track.artist }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección 3: Nuevos lanzamientos -->
      <strong class="explore-title">Nuevos Lanzamientos</strong>
      <div class="carousel">
        <div class="carousel-inner">
          <div *ngFor="let release of newReleases" (click)="navigateToDetail(release.id)" class="carousel-item">
            <div class="thumbnail">
              <img [src]="release.albumCover" alt="Portada del Álbum" />
            </div>
            <div class="song-info">
              <h2><strong>{{ release.title }}</strong></h2>
              <p>{{ release.artist }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>
